# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.


pytest~=7.1.2
setuptools~=65.6.3
matplotlib~=3.7.0
pennylane~=0.29.1
torchvision~=0.15.0
pandas~=1.5.3
numpy~=1.23.5
wandb~=0.15.0
python-dotenv~=1.0.0